<%- include("../partials/header.ejs") %>


  
    <main id="main">
  
      <!-- ======= Intro Single ======= -->
      <section class="intro-single">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <div class="title-single-box">
                <h1 class="title-single"><%= property.name %></h1>
                <span class="color-text-a"><%= property.street %></span>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="/property">Properties</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <%= property.name %>
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section><!-- End Intro Single-->
  
      <!-- ======= Property Single ======= -->
      <section class="property-single nav-arrow-b">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div id="property-single-carousel" class="swiper-container">
                <div class="swiper-wrapper">
                    <% for(let img of property.image) { %>
                        <div class="carousel-item-b swiper-slide img-box-a">
                            <img src="<%= img %>" alt="image of property" class="img-a img-fluid">
                        </div>
                    <% } %>
                </div>
              </div>
              <div class="property-single-carousel-pagination carousel-pagination"></div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-sm-12">
              <div class="row justify-content-center">
                <div class="col-md-8 col-lg-8 section-md-t3">
                  <div class="property-summary">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="title-box-d section-t4">
                          <h3 class="title-d">Property Details:</h3>
                        </div>
                      </div>
                    </div>
                    <div class="summary-list">
                      <ul class="list">
                        <li class="d-flex justify-content-between">
                          <strong>Name:</strong>
                          <span><%= property.name %></span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <strong>Unit:</strong>
                            <span><%= property.unit %></span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <strong>Street:</strong>
                            <span><%= property.street %></span>
                        </li>
                        <li class="d-flex justify-content-between">
                          <strong>Postal Code:</strong>
                          <span><%= property.postalCode %></span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <strong>District:</strong>
                            <span><%= property.district %></span>
                          </li>
                        <li class="d-flex justify-content-between">
                          <strong>Google Map Link:</strong>
                          <span><a href="<%= property.googleMapLink %>" target="_blank"> View on Google Maps</a></span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <strong>Property Type</strong>
                            <span><%= property.propertyType %></span>
                         </li>
                        <li class="d-flex justify-content-between">
                            <strong>Current Value</strong>
                            <span>$<%= property.currentValue %></span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <strong>Rental Amount</strong>
                            <span>$<%= property.rentalAmount %></span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <strong>Status</strong>
                            <span><%= property.status %></span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <strong>Installment Amount</strong>
                            <span>$<%= property.installmentAmount %></span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <strong>Loan pending</strong>
                            <span>$<%= property.loanLeft %></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-7 col-lg-7 section-md-t3">
                  <div class="row section-t3">
                    <div class="col-sm-12">
                      <div class="title-box-d">
                        <h3 class="title-d">Amenities</h3>
                      </div>
                    </div>
                  </div>
                  <div class="amenities-list color-text-a">
                    <ul class="list-a no-margin">
                      <li>Balcony</li>
                      <li>Outdoor Kitchen</li>
                      <li>Cable Tv</li>
                      <li>Deck</li>
                      <li>Tennis Courts</li>
                      <li>Internet</li>
                      <li>Parking</li>
                      <li>Sun Room</li>
                      <li>Concrete Flooring</li>
                    </ul>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="col-md-10 offset-md-1">
              <ul class="nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
                <% if(property.historicalRentalAmount.length > 0) { %>
                <li class="nav-item">
                  <a class="nav-link" id="pills-rental-tab" data-bs-toggle="pill" href="#pills-rental" role="tab" aria-controls="pills-rental" aria-selected="true">Rental Chart</a>
                </li>
                <% } %>
                <% if(property.historicalValue.length > 0) { %>
                <li class="nav-item">
                  <a class="nav-link" id="pills-value-tab" data-bs-toggle="pill" href="#pills-value" role="tab" aria-controls="pills-value" aria-selected="false">Historical Value Chart</a>
                </li>
                <% } %>
                <li class="nav-item">
                  <a class="nav-link" id="pills-map-tab" data-bs-toggle="pill" href="#pills-map" role="tab" aria-controls="pills-map" aria-selected="false">Location</a>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <% if(property.historicalRentalAmount.length > 0) { %>
                <div class="tab-pane fade show active" id="pills-rental" role="tabpanel" aria-labelledby="pills-video-tab">
                  <canvas id="rental-chart"></canvas>
                </div>
                <script>
                  let rentalChart = document.getElementById('rental-chart').getContext('2d');
                  let hisRentAmount = "<%= property.historicalRentalAmount %>";
                  let hisRentAmountArray = hisRentAmount.split(',');

                  let rentLabelValue = [];

                  for(let i = 0; i < hisRentAmountArray.length; i++) {
                    let monthValue = i + 1;
                    rentLabelValue[i] = "Month " + monthValue; 
                  }

                  let rentalAmountChart = new Chart(rentalChart, {
                    type: 'line',
                    data: {
                      labels: rentLabelValue,
                      datasets: [{
                        label: 'Rental',
                        data: hisRentAmountArray
                      }]
                    }
                  })

                  // console.log("<%= property.historicalRentalAmount %>")
                  // console.log(typeof("<%= property.historicalRentalAmount %>"))
                </script>
                <% } %>
                <% if(property.historicalValue.length > 0) { %>
                <div class="tab-pane fade" id="pills-value" role="tabpanel" aria-labelledby="pills-plans-tab">
                  <canvas id="value-chart"></canvas>
                </div>
                <script>
                  let valueChart = document.getElementById('value-chart').getContext('2d');
                  let hisValue = "<%= property.historicalValue %>";
                  let hisValueArray = hisValue.split(',');

                  let valueLabelValue = [];

                  for(let i = 0; i < hisValueArray.length; i++) {
                    let monthValue = i + 1;
                    valueLabelValue[i] = "Year " + monthValue; 
                  }

                  let hisValueChart = new Chart(valueChart, {
                    type: 'line',
                    data: {
                      labels: valueLabelValue,
                      datasets: [{
                        label: 'Historical Property Value',
                        data: hisValueArray
                      }]
                    }
                  })

                  console.log("<%= property.historicalRentalAmount %>")
                  console.log(typeof("<%= property.historicalRentalAmount %>"))
                </script>
                <% } %>
                <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.1422937950147!2d-73.98731968482413!3d40.75889497932681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25855c6480299%3A0x55194ec5a1ae072e!2sTimes+Square!5e0!3m2!1ses-419!2sve!4v1510329142834" width="100%" height="460" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row section-t3">
                <div class="col-sm-12">
                  <div class="title-box-d justify-content-center" >
                    <h3 class="title-d ">Actions</h3>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-12 col-md-12 ">
                  <div class="property-contact">
                    <form class="form-a">
                      <div class="row">
                        <% if(property.status === "Rented") { %>
                        <div class="col-md-6 mb-3">
                          <div class="form-group">
                            <input type="text" class="form-control form-control-a" id="inputName" placeholder="Name *" required>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <button type="submit" class="btn btn-success">Add Rent</button>
                        </div>
                        <% } %>
                      </div>
                    </form>
                    <form class="form-a">
                      <div class="row">
                        <% if(property.loanLeft > 0) { %>
                        <div class="col-md-6 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control form-control-a" id="inputEmail1" placeholder="Email *">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <button type="submit" class="btn btn-primary">Add Installment</button>
                        </div>
                        <% } %>
                       </div>
                      </form>
                      <div class="text-center col-md-12 mt-3">
                        <a href="<%= property.id %>/edit" class="btn btn-primary">Edit Property</a>
                      </div>
                      <form method="POST" action="<%= property.id %>?_method=DELETE">
                        <div class="text-center col-md-12 mt-3">
                            <input type="submit" class="btn btn-danger" value="Remove Property" />
                        </div>
                      </form>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Property Single-->
  
    </main><!-- End #main -->
  

<%- include("../partials/footer.ejs") %>